/* RESETS */

*, body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.container-fluid{
	margin: 0;
	padding: 0;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}


/* MENU */

header{
	background-color: #fff;
	float: left;
	display: inline-block;
	padding: 10px;
	position: relative;
}

header img{
	float: left;
	display: inline-block;
	margin: 5px;
}

header ul{
	background-color: transparent;
	list-style: none;
	float: left;
}

header ul li{
	background-color: transparent;
	display: inline-block;
	float: left;
	margin: auto;
	padding: 5px 15px
}

header ul li a{
	background-color: transparent;
	line-height: 60px;
	text-decoration: none;
}

header ul li a:hover{
	text-decoration: none;
	font-weight: bold;
}

header{
	position: fixed;
	z-index: 2;
}

.links{
	display: none;
}

.hamburguer:hover > .links{
	display: visible;
}

.submenu{
	display: none;
	z-index: 3;
}

.menu:hover > .submenu{
		display: block;
		padding-top: 5px;
		margin-top: 30px;
		color: #512f58;
}

/* TEXTOS */


h1{
	font-family: 'Poiret One', cursive;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

h1 strong{
	font-size: 1.8em;
}

h2{
	font-family: 'Bangers', cursive;
	font-size: 2em;
	text-align: center;
	line-height: 2em;
	margin: 0;
    padding: 5px;
    z-index: 20;
    text-align: center;
    color: #fff;
}

h3{
	font-family: 'Nixie One', cursive;
	font-size: 1.9em;
	text-align: center;
}

h4, h5, h6{
	font-family: 'Poiret One', cursive;
	font-size: 1.5em;
	text-align: center;
}

p, form label, form input, form textarea{
	font-family: 'Poiret One', cursive;
	font-size: 1.4em;
	text-align: center;
	padding: 8px;
}

strong{
	font-size: 1em;
	font-weight: inherit;
}

/* BOTÕES '+' */

.fa-plus-circle, .fa-chevron-circle-down{
	font-size: 3em;
	color: rgba(255, 255, 255, 0.85);
	text-align: center;
}

.fas:hover{
	cursor: pointer;
}

/* BANNER */

.banner	{
	background-image: url(../img/banner-topo.jpg);
	background-color: #126789;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	display: block;
}

.banner article{
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
}

.banner article p:first-child{
	margin-top: 15vh;
	height: 35vh;
}

.banner article p:nth-child(2n){
	height: 35vh;
	padding-top: 32%;
}

.destaque{
	font-family: 'Special Elite', cursive;
	font-size: 2em;
	text-align: center;
	color: #fff;
}

.banner a{
	display: grid;
	height: 15vh;
	line-height: 15vh;
	text-decoration: none;
}

.banner a:active, .banner a:visited{
	text-decoration: none;
}

.banner i{
	font-size: 4em;
	color: rgba(6, 46, 74, 0.7);
}

i, .fas {
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

i:hover, i:focus {
	color: white;
}

i:active, i:visited{
	text-decoration: none;
}

.fas:hover, .fas:focus, .fas:active {
	color: rgba(6, 46, 74, 0.7);
}

.fas:visited{
	text-decoration: none;
	color: white;
}


/*.changeColor {
  color: rgba(255, 255, 255, 0.7);
}*/



/* SOLUÇÕES - VITRINE */

.solucoes h1{
	margin-top: -15px;
	margin-bottom: 25px;
}

.solucoes article{
	margin-bottom: 20px;
}

.box-p div{
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: contain;
	display: block;
	color: #fff;
	font-weight: bold;
	padding: 45px 10px 20px 10px;
    height: 50vh;
    z-index: 10;
}

.box-p div i{
	display: inline-block;
	position: absolute;
		bottom: 20px;
		right: 40px;
}

.consultoria{
	background-image: url(../img/bg-consultoria.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.criacao-e-desenvolvimento{
	background-image: url(../img/bg-criacao-e-desenvolvimento.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.marketing-digital{
	background-image: url(../img/bg-marketing-digital.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.geracao-de-conteudo{
	background-image: url(../img/bg-geracao-de-conteudo.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


/* INÍCIO DO FORMULÁRIO DE CONTATO */

textarea{
	resize: vertical;
}

label, input, textarea {
	width: 90vw;
	margin-right: 5vw;
	margin-left: 5vw;
}

label{
	margin-bottom: 0px;
}

input, textarea{
	margin-bottom: 5px;
}

input:hover, textarea:hover{
	cursor: pointer;
}

input:focus, input:active, textarea:focus, textarea:active{
	border: rgba(6, 46, 74, 0.7) 2px solid;
	outline-color: rgba(6, 46, 74, 0.7);
}

/* INÍCIO DO FOOTER */

footer{
	background-color: rgb(6, 46, 74);
	text-align: center;
	color: white;
	margin-bottom: 0;
}

footer p{
	margin: 0;
}